@import "../../sass/variables";

.storage {
  & main {
    & h2 {
      margin-bottom: 2rem;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 3rem;
    padding-inline: 2rem;

    & div {
      display: flex;
      flex-direction: column;
      grid-gap: 1rem;
      text-align: center;

      & span {
        color: $color-waterloo;
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
    margin-block-start: 3.5rem;
    padding-inline: 2rem;
    overflow-y: scroll;
    height: 55vh;

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-left_section {
      display: flex;
      align-items: center;
      grid-gap: 2rem;

      & div {
        display: flex;
        flex-direction: column;
        grid-gap: 0.5rem;

        & h4 {
          color: $color-charade;
          font-size: 1.4rem;
          font-weight: 600;
        }

        & span {
          color: $color-manatee;
          display: flex;
          grid-gap: 2px;
          font-size: 1.4rem;

          & div {
            margin-top: -2px;
          }
        }
      }
    }
  }
}
