@import "../../sass/variables";

.notification {
  max-width: 375px;
  margin: 0 auto;

  &__container {
    margin-top: -2rem;
    background-color: $color-white;
    & h2 {
      margin: 2rem 0 6rem 3.2rem;
      & span {
        color: $color-chambray;
        font-size: 3.4rem;
        font-weight: 600;
      }
      @media only screen and (max-width: 25em) {
        margin-bottom: 2.5rem;
      }
    }
  }

  &__illustration {
    margin: 0 auto;
    width: 260px;
    height: 220px;
  }

  &__content {
    margin-block: 2rem;
    text-align: center;
    & small {
      color: $color-chambray;
      font-size: 2rem;
      font-weight: 600;
    }

    & p {
      color: $color-waterloo;
      max-width: 28rem;
      margin: 1rem auto 0 auto;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.5;
    }
  }
}
