@import "../../sass/variables";

.notification {
  &__container {
    & h2 {
      margin: 2rem 0 6rem 3.2rem;
      & span {
        color: $color-chambray;
        font-size: 3.4rem;
        font-weight: 500;
      }

      @media only screen and (min-width: 37.5em) {
        text-align: center;
      }
    }
  }

  &__illustration {
    margin: 0 auto;
    width: 260px;
    height: 220px;
  }

  &__content {
    margin-block: 2rem;
    text-align: center;
    & small {
      color: $color-chambray;
      font-size: 2rem;
      font-weight: 500;
    }

    & p {
      color: $color-waterloo;
      max-width: 28rem;
      margin: 1rem auto 0 auto;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.5;
    }
  }
}
