@import "../../sass/variables";

.input {
  position: relative;
  padding-inline: 2rem;

  & input {
    width: 100%;
    padding: 1.3rem 2rem 1.3rem 4.2rem;
    border: none;
    border-radius: 30px;
    background-color: $color-linkwater;

    &::placeholder {
      color: $color-manatee;
      font-weight: 500;
    }

    &:focus {
      outline: none;
    }
  }

  & img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 32%;
    left: 3.2rem;
    margin-left: 4px;
  }
}
