// Colors

$color-brink-pink: #ff5998;
$color-primary-hot-pink: #ff70a6;
$color-secondary-hot-pink: #ff6aa2;

$color-primary-white-lilac: #f5f7fc;
$color-secondary-white-lilac: #f7f9fc;

$color-primary-indigo: #4b6dc1;
$color-secondary-indigo: #3c64c7;

$color-black: #000;
$color-white: #fff;

$color-charade: #242833;
$color-alto: #d8d8d8;
$color-dusty-gray: #979797;
$color-waterloo: #7e8494;
$color-mint-green: #8bff88;
$color-valentino: #230b34;
$color-mischka: #d3d7e0;
$color-cornflowerblue: #5786f8;
$color-chambray: #345095;
$color-haiti: #200e32;
$color-melrose: #abc3fc;
$color-zumthor: #e8efff;
$color-malibu: #89aafa;
$color-royalblue: #4274eb;
$color-cadetblue: #a6b3c2;
$color-linkwater: #edf1fa;
$color-manatee: #8890a6;
$color-solitude: #dde6ff;
$color-gullgray: #959fba;

// Box-shadow
$box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
