@import "../../sass/variables";

.profile {
  max-width: 375px;
  margin: 0 auto;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    margin: 2rem 0 2rem 0;
    & h4 {
      & span {
        color: #345095;
        font-size: 3.4rem;
        font-weight: 600;
      }
    }
  }

  &__statusbar {
    display: flex;
    grid-gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 600;
    padding-left: 2rem;

    & span:nth-child(1) {
      color: $color-secondary-indigo;
      font-size: 2rem;
    }
    & span:nth-child(2) {
      color: $color-solitude;
      font-size: 1.8rem;
    }
  }

  &__skillbar {
    margin: 0 auto;
    position: relative;
    width: 90%;
    height: 6px;
    border-radius: 1000px;
    background-color: $color-solitude;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 55%;
      height: 6px;
      border-radius: 1000px;
      background-color: $color-secondary-hot-pink;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin: 2rem 0 3rem 0;

    & button {
      width: 325px;
      height: 48px;
      color: $color-secondary-hot-pink;
      font-weight: 600;
      border: 2px solid $color-secondary-hot-pink;
      border-radius: 22px;
      background-color: $color-white;
    }
  }

  &__container {
    height: calc(100vh - 500px);
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
    align-items: center;
    overflow-y: scroll;

    &-device {
      & div {
        display: flex;
        flex-direction: column;
        grid-gap: 0.5rem;

        & small {
          color: $color-secondary-hot-pink;
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
    }

    &-storage,
    &-device,
    &-uploads,
    &-transfer {
      background-color: $color-primary-white-lilac;
      width: 325px;
      height: 67px;
      border-radius: 7px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;

      & span {
        color: $color-charade;
        font-size: 1.8rem;
        font-weight: 600;
      }
    }
  }
}

.toggle-btn {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  margin: 0 1.5rem;
  width: 4.5rem;
  height: 2.6rem;
  background-color: $color-gullgray;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  .inner-circle {
    border-radius: 50%;
    width: 1.9rem;
    height: 1.9rem;
    background-color: $color-white;
  }
}

.toggle-btn.active .inner-circle {
  margin: 0 1px 0 auto;
}

.toggle-btn.active {
  background-color: $color-cornflowerblue;
}
