@import "../../sass/variables";

.card {
  padding: 2rem;
  background-color: #edf1fa;
  border-radius: 35px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.3rem;
    & p {
      color: $color-charade;
      font-weight: 600;
      font-size: 1.4rem;
      max-width: 6rem;
      line-height: 2rem;
    }
  }

  &__description {
    position: relative;
    display: flex;
    grid-gap: 2px;
    color: $color-manatee;
    font-size: 1.6rem;
    font-weight: 400;

    & div {
      margin-top: -4px;
    }
  }

  &__image {
    display: flex;
    margin-top: 2rem;
    & img,
    & div {
      box-sizing: content-box;
      height: 2.8rem;
      width: 2.8rem;
      border-radius: 12px;

      &:not(:last-child) {
        margin-right: -1rem;
      }

      &:not(:first-child) {
        border-left: 3px solid $color-white;
      }
    }

    & div {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-manatee;
      color: $color-white;
      font-weight: 600;
    }
  }

  &__notify {
    display: flex;
    grid-gap: 0.3rem;
    flex-direction: column;
    align-items: center;
    & span {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $color-manatee;
    }
  }
}
