@import "../../sass/variables";

.upload {
  max-width: 375px;
  margin: 0 auto;

  &__container {
    max-width: 375px;
    height: 231px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    bottom: 0px;
    border-top-left-radius: 14rem;
    border-top-right-radius: 14rem;
    z-index: 1000;

    & div {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 1rem;

      & span {
        color: $color-manatee;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    & div:nth-child(1) {
      position: absolute;
      top: 7rem;
      left: 4rem;
    }

    & div:nth-child(2) {
      position: absolute;
      left: 50%;
      top: 3rem;
      transform: translateX(-50%);
    }

    & div:nth-child(3) {
      position: absolute;
      top: 7rem;
      right: 4rem;
    }

    & div:nth-child(4) {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
    }
    & div:nth-child(5) {
      position: absolute;
      bottom: 1.5rem;
      left: 50%;
      z-index: 1000;
      width: 14.5rem;
      height: 5px;
      border-radius: 100px;
      background-color: $color-mischka;
      transform: translateX(-50%);
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
