.home {
  //   position: relative;
  max-width: 375px;
  height: 100vh;
  margin: 0 auto;

  &__header {
    background: rgb(66, 116, 235);
    padding: 0 3rem 10rem 3rem;

    & h2 {
      font-weight: 500;
      //   font-family: AvenirNext-DemiBold;
      margin-bottom: 2rem;
      line-height: 2.5rem;
      & span {
        font-size: 1.8rem;
        color: #fff;
        letter-spacing: 1.5px;

        &:nth-child(2) {
          color: #89aafa;
        }
      }
    }

    & p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
  }

  &__statusbar {
    display: flex;
    grid-gap: 1rem;
    align-items: center;
    font-weight: 500;

    & span:nth-child(1) {
      color: #fff;
      font-size: 2rem;
    }
    & span:nth-child(2) {
      color: #89aafa;
      font-size: 1.8rem;
    }
  }

  &__skillbar {
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: 1000px;
    background-color: #3c64c7;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: calc(100%+10px);
      left: 0;
      width: 55%;
      height: 8px;
      border-radius: 1000px;
      background-color: #ff6aa2;
    }
  }

  &__container {
    background-color: #fff;
    padding: 2rem;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -4rem;
  }

  &__input {
    position: relative;

    & input {
      width: 100%;
      padding: 1.3rem 2rem 1.3rem 4.2rem;
      border: none;
      border-radius: 30px;
      background-color: #edf1fa;

      &::placeholder {
        color: #8890a6;
        font-weight: 500;
      }

      &:focus {
        outline: none;
      }
    }

    & img {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 30%;
      left: 3%;
      margin-left: 4px;
    }
  }
}
