@import "../../sass/variables";

.home {
  &__header {
    background: $color-royalblue;
    padding: 0 3rem 7rem 3rem;

    & h2 {
      font-weight: 500;
      margin-bottom: 2rem;
      line-height: 2.5rem;
      & span {
        font-size: 3rem;
        color: $color-white;
        letter-spacing: 1.5px;

        &:nth-child(2) {
          color: $color-malibu;
          font-size: 1.8rem;
        }
      }
    }

    & section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
  }

  &__statusbar {
    display: flex;
    grid-gap: 1rem;
    align-items: center;
    font-weight: 500;

    & span:nth-child(1) {
      color: $color-white;
      font-size: 2rem;
    }
    & span:nth-child(2) {
      color: $color-malibu;
      font-size: 1.8rem;
    }
  }

  &__skillbar {
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: 1000px;
    background-color: $color-secondary-indigo;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 55%;
      height: 8px;
      border-radius: 1000px;
      background-color: $color-secondary-hot-pink;
    }
  }

  &__container {
    background-color: $color-white;
    padding-block: 2rem;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -4rem;
  }

  &__tabs {
    margin-block: 2rem;
    display: flex;
    grid-gap: 4rem;
    justify-content: center;
    border-bottom: 2px solid $color-linkwater;
  }

  &__button {
    position: relative;
    padding-block: 1.5rem;
    background-color: transparent;
    border: none;
    color: $color-manatee;
    font-weight: 500;
    text-transform: uppercase;
    width: 140px;

    &:focus-visible {
      outline: none;
    }

    &.active {
      color: $color-chambray;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 5px;
        background-color: #5786f8;
        border-radius: 25px 25px 0px 0px;
        transform: translateY(2px);
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
    grid-gap: 2rem;
    padding-inline: 2rem;
    background-color: $color-white;
    overflow-y: scroll;
    height: 40rem;

    @media only screen and (max-width: 25em) {
      grid-template-columns: 18.5rem;
      justify-content: center;
      grid-template-rows: repeat(4, max-content);
      min-height: 75rem;
    }
  }
}
