.onboard {
  position: relative;
  max-width: 375px;
  height: 100vh;
  margin: 0 auto;

  &__illustration {
    width: 100%;
    height: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    grid-gap: 1.5rem;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    padding-right: 3.5rem;

    & p {
      max-width: 20rem;
      margin-left: auto;
      color: #3c64c7;
      font-size: 24px;
      // font-family: AvenirNext-DemiBold;
      font-weight: 600;
      text-align: right;
      line-height: 3rem;
    }

    & img {
      margin: 0 2rem auto auto;
      width: 50px;
      height: 50px;
    }
  }
}
