*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px
  min-height: 100vh;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: SFProText-Semibold, sans-serif;
  background-color: #f6f7f7;
}

img {
  display: block;
}
